<% content_for :title, 'Text Statistics App by ClearTheNoise | Try Text Statistics App for FREE now!' %>
<%= render 'home/topbar' %>
<div class="the-container">

  <div class="text-area">
    <%= render 'try/text_statistics' %>
  </div>

</div>
<%= render 'home/footer' %>

<ol class="joyride-list" data-joyride>
  <li data-id="first-stop" data-text="Next">
    <p>Take a tour.</p>

    <p>Your text goes here. Click or tap Next to see how to load some sample text.</p>

    <p>Already know what to do? Just close this box. :)</p>
  </li>
  <li data-id="second-stop" data-text="Next">
    <p>Go ahead, click or tap the "Load sample text" button to load the sample text.</p>

    <p>Scroll up to see the text was loaded.</p>
  </li>
  <li data-id="third-stop" data-text="Next">
    <p>To get the text statistics, just mouse over or tap on any one of the Counts, Averages or Readability sections and the text
      statistics will be automatically calculated for you.</p>
  </li>
  <li data-id="fourth-stop" data-text="Next">
    <p>This is where the words in your text get listed and counted for number of times they show in your text.</p>
  </li>
  <li data-id="fifth-stop" data-text="Next">
    <p>Click or tap this button anytime want to clear the text and the statistics.</p>

    <p>Have fun with and thanks for using Text Statistics App!</p>
  </li>
</ol>
