<%= render 'home/topbar' %>
<div class="the-container">

  <div class="row">
    <div class="large-12 columns">
      <h1>About Text Statistics App</h1>

      <div>
        <h3>What technologies/strategies were used in building this project?</h3>
        <ul>
          <li>Ruby on Rails 4.0 Framework</li>
          <li>Ruby 2.0</li>
          <li>jQuery 2.0</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Foundation 4 front-end framework</li>
          <li>Sass</li>
          <li>LiveReload</li>
          <li>SEO Optimization</li>
          <li>Heroku hosted</li>
        </ul>
      </div>

    </div>
  </div>

</div>
<%= render 'home/footer' %>
